:root {
    --dracula-bg: #282a36; /* Dracula Background */
    --dracula-fg: #f8f8f2; /* Dracula Foreground */
    --dracula-comment: #6272a4; /* Dracula Comment */
    --dracula-current-line: #44475a; /* Dracula Current Line */
    --dracula-green: #50fa7b; /* Dracula Green */
    --dracula-blue: #8be9fd; /* Dracula Blue */
    --dracula-purple: #bd93f9; /* Dracula Purple */
    --dracula-yellow: #f1fa8c; /* Dracula Yellow */
    --dracula-pink: #ff79c6; /* Dracula Pink */
}

body, html {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: var(--dracula-bg);
    color: var(--dracula-fg);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding-bottom: 10px;
}

#header-banner {
    text-align: center;
    padding: 15px 5px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 15px;
    background-color: var(--dracula-bg); /* Ensuring consistency */
}

h1, h2 {
    margin-top: 20px;
    padding: 0;
}

h1 {
    font-family: 'Audiowide';
    font-weight: 700;
    font-size: 2.5em;
    color: var(--dracula-purple);
}

h2 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 1.5em;
    color: var(--dracula-fg);
}

#main-content {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: auto;
}

#chat-container {
    font-family: 'Ubuntu', sans-serif;
    width: 800px;
    border: 1px solid var(--dracula-current-line);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/* Custom Scrollbar for Chat Box */
#chat-box::-webkit-scrollbar {
    width: 12px;
}

#chat-box::-webkit-scrollbar-track {
    background: var(--dracula-current-line);
}

#chat-box::-webkit-scrollbar-thumb {
    background-color: var(--dracula-bg);
    border-radius: 6px;
    border: 3px solid var(--dracula-current-line);
}

#chat-box {
    font-size: large;
    color: var(--dracula-blue);
    height: 250px;
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    background-color: transparent; /* Ensuring text scrolls behind suggestions */
}

/* Input and Button Styles */
#chat-input, #send-btn {
    vertical-align: middle;
}

#send-btn {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--dracula-green);
    color: var(--dracula-bg);
    border-radius: 50%;
    border: none;
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#chat-input-container {
    position: relative;
    width: 100%;
}

#chat-input {
    width: calc(100% - 20px); /* Adjusting for padding */
    height: 70px;
    padding: 10px;
    border: none;
    background-color: var(--dracula-current-line);
    color: var(--dracula-fg);
    font-size: large;
}

#chat-input:focus {
    outline: none;
}

/* Suggestions and Button Styles */
#suggestions {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 15px;
    background: none; /* Explicitly making transparent */
}

.suggestion-btn {
    background-color: var(--dracula-comment);
    font-family: 'Ubuntu', sans-serif;
    font-size: small;
    color: var(--dracula-fg);
    border-radius: 20px;
    border: none;
    padding: 10px;
    width: 30%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.suggestion-btn:hover {
    background-color: var(--dracula-green);
}

/* Footer Styles */
footer {
    background-color: var(--dracula-bg);
    color: var(--dracula-fg);
    text-align: center;
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.social-icons {
    font-size: 18px;
}

.social-icons a {
    color: var(--dracula-fg);
    margin: 0 10px;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: var(--dracula-green);
}

/* Message Styles */
.user-message {
    color: var(--dracula-green);
    font-size: large;
}

.bot-message {
    color: var(--dracula-blue);
    font-size: large;
}

.bot-message b,
.bot-message u {
    color: var(--dracula-fg);
}

/* Link Styles */
a {
    color: var(--dracula-pink);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
